@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quando", serif;
  scroll-behavior: auto;
}
body {
  min-height: 100vh;
  background-color: #fff;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.order__left {
  padding: 50px 20px 50px 100px;
}
.order__right {
  order: 2;
}
.centered {
  display: flex;
  align-items: left;
  justify-content: left;
}
.no__overflow {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.form {
  max-width: 500px;
}

.circle {
  height: 75px;
  width: 75px;
  background-color: #fc4d4a;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  left: 0;
}

.bg {
  position: relative;
}

.avatar {
  display: flex;
  width: auto;
  height: auto;
  right: 0;
  position: fixed;
}

.btn-web {
  border: 5px solid #e15858;
  border-radius: 30px;
  padding: 10px;
  width: 11cm;
  color: #e15858;
}

.btn-light:hover {
  color: #e15858;
  background-color: #ffbdbd;
  border: 5px solid #e15858;
}

.btn-menu {
  border: none;
}

.klas {
  width: auto;
  font-size: 14px;
}

h4 {
  color: #867992;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.img {
  height: 100%;
  object-fit: cover;
  max-width: auto;
}

.ac-menu {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 884px){
  body {
    background-color: #fcffe7;
  }

  .grid {
    grid-template-columns: auto;
    height: auto;
  }
  .centered {
    align-items: flex-start;
  }
  .no__overflow {
    align-items: flex-start;
  }

  h4 {
    text-align: center;
  }
  .order__right {
    display: none;
  }

  .logo,
  .ic {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-web {
    width: 100%;
    background-color: transparent;
  }

  .order__left, .form {
    order: 1;
    height: auto;
    padding: 50px 0 50px 0;
    width: 90%;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ac-menu {
    display: flex;
  }

  .web-menu {
    display: none;
  }

  .ic {
    width: 40px;
    height: 40px;
  }

  .ic-btn {
    width: 50px;
    height: 50px;
  }

  .list-group {
    font-size: 12px;
  }

  .p-title {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }

  /* .accordion {
    --bs-accordion-active-bg: #fcffe7;
    --bs-accordion-bg: #fcffe7;
    --bs-accordion-btn-focus-border-color: #e15858;
    --bs-accordion-border-width: 2px;
    --bs-accordion-active-color: black;
    --bs-accordion-border-color: #e15858;
    --bs-accordion-btn-focus-border-color: #ffbdbd;
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
    --bs-accordion-btn-padding-y: 1.5rem;
  } */

  .list-group {
    --bs-list-group-bg: transparent;
    --bs-list-group-action-hover-bg: #ecf0d5;
    --bs-list-group-border-color: #e15858;
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-radius: 15px;
  }

.btn{
  --bs-btn-padding-x: none;
  --bs-btn-padding-y: none;
  --bs-btn-border-width: none;
}

.ac-last{
  border-bottom: 5px solid #e15858;
}

/* stack */

.accordion {
  color: #000000;
  background-color: #fcffe7;
  cursor: pointer;
  padding: 10px 10px;
  margin-top:20px;
  width: 100%;
  border: 3px solid #e15858;
  border-radius: 15px;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #fcffe7;
  border: 3px solid #e15858;
}

.panel {
  font-size: 18px;
  background-color: #fcffe7;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

}